<nav class="navbar-custom">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="logo">
      Rent2<span>play</span>
    </div>

    <ul class="menu d-flex align-items-center mb-0" *ngIf="!ocultarBotones">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/home">Instalaciones</a></li>
      <li><a routerLink="/home">Calendario</a></li>
      <li><a routerLink="/home">Mis productos</a></li>
      <li><a routerLink="/profile">Mi cuenta</a></li>
      <li><a routerLink="/home">Ayuda</a></li>

      <li class="icono">
        <span class="mensaje-icono">💬</span>
        <span class="badge">3</span>
      </li>
    </ul>

  </div>
</nav>